<p>Sehr geehrter Herr/Frau {{ name }},</p>

<p>wir würden gerne mit Ihnen in Kontakt bleiben, sind uns aber nicht sicher ob dies von Ihrer Seite auch gewünscht ist
    und ob wir Ihre Kontaktdaten entsprechend weiterhin nutzen dürfen.</p>

<p>Wenn Sie uns dies erlauben klicken Sie bitte auf den folgenden Link:</p>

<p><code><a href="{{ confirm_link }}">Ja, ich möchte in Verbindung bleiben</a></code></p>

<p>Wenn Sie dies nicht möchten können Sie über den folgenden Link eine Löschung aus unserer Datenbank beantragen:</p>

<p><code><a href="{{ reject_link }}">Bitte löschen Sie mich</a></code></p>

<p>Ihre Firma TollesWeb</p>

<p>Musterstraße 1a<br>12345 Neustadt</p>